*
  box-sizing: border-box

body
  background: #43488f
  font-family: 'VT323', sans-serif
  font-size: 24px
  -webkit-font-smoothing: antialiased

.game
  display: flex
  justify-content: center
  align-items: center