@use 'animations'

.loading-screen
  position: absolute
  width: inherit
  height: inherit
  display: flex
  //display: none
  justify-content: center
  align-items: center
  flex-direction: column
  row-gap: 30px
  font-size: 50px
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)
  //animation: opacity 3s linear infinite

.flipping
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  column-gap: 30px

.flipping div
  width: 50px
  height: 50px
  background-color: #000000
  border-radius: 10px
  opacity: 0

@for $i from 1 through 6
  .flipping div:nth-of-type(#{$i})
    $delay: 0.25 * $i
    animation: opacity 1.5s $delay * 1s infinite ease
